<!-- Begin page -->
<div class="wrapper">
    <app-topbar
        (settingsButtonClicked)="onSettingsButtonClicked()"
        (mobileMenuButtonClicked)="onToggleMobileMenu()"
    ></app-topbar>
    <app-sidebar></app-sidebar>

    <div class="content-page">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
            <!-- container -->
        </div>
        <!-- content -->
        <app-footer></app-footer>
    </div>
</div>
