<app-pagetitle
    pagetitle="Portal"
    subtitle="Administração"
    title="Users"></app-pagetitle>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <table id="table-users" datatable [dtOptions]="dtOptions" class="table table-sm table-nowrap">
                </table>
            </div>
        </div>
    </div>
</div>


<ng-template #user_change let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Alterar Usuário</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="card-body m-2">
            <form class="">
                <div class="row g-2">
                    <div class="mb-3 col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword4"
                               placeholder="Password">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>

                <div class="mb-3">
                    <label for="inputAddress2" class="form-label">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2"
                           placeholder="Apartment, studio, or floor">
                </div>

                <div class="row g-2">
                    <div class="mb-3 col-md-6">
                        <label for="inputCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="inputState" class="form-label">State</label>
                        <select id="inputState" class="form-select">
                            <option>Choose</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-2">
                        <label for="inputZip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>

                <div class="mb-2">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck11">
                        <label class="form-check-label" for="customCheck11">Check this custom
                            checkbox</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </div>


</ng-template>
