<app-pagetitle
    title="Create Project"
    subtitle="Projects"
    pagetitle="Hyper"
></app-pagetitle>


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form action="#" [formGroup]="homeform" (ngSubmit)="onSubmit()">
                    <div class="row g-2">
                        <div class="mb-3 col-md-3">
                            <label for="inputEmail4" class="form-label">Email</label>
                            <input type="email" class="form-control form-control-sm" id="inputEmail4"
                                   formControlName="inputEmail4" placeholder="Email">
                        </div>
                        <div class="mb-3 col-md-3">
                            <label for="inputPassword4" class="form-label">Password</label>
                            <input type="password" class="form-control form-control-sm" id="inputPassword4"
                                   formControlName="inputPassword4" placeholder="Password">
                        </div>
                    </div>

                    <div class="mb-3 col-md-3">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control form-control-sm" id="inputAddress"
                               formControlName="inputAddress" placeholder="1234 Main St">
                    </div>

                    <div class="mb-3 col-md-3">
                        <label for="inputAddress2" class="form-label">Address 2</label>
                        <input type="text" class="form-control form-control-sm" id="inputAddress2"
                               formControlName="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>

                    <div class="row g-2">
                        <div class="mb-3 col-md-2">
                            <label for="inputCity" class="form-label">City</label>
                            <input type="text" class="form-control form-control-sm" id="inputCity">
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="inputState" class="form-label">State</label>
                            <select id="inputState" class="form-select form-select-sm">
                                <option>Choose</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="inputZip" class="form-label">Zip</label>
                            <input type="text" class="form-control form-control-sm" id="inputZip">
                        </div>
                    </div>

                    <div class="mb-2 col-md-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="customCheck11">
                            <label class="form-check-label" for="customCheck11">Check this custom checkbox</label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
